extends layout

block content
  h1 Employee form
  form(method="post" action="/")
    label(for="name") Name: 
    input(type="text" name="name" placeholder="")
    br 
    label(for="email") Email: 
    input(type="email" name="email" placeholder="")
    br 
    label(for="address") address: 
    input(type="address" name="address" placeholder="")
    br 
    label(for="phone") phone: 
    input(type="text" name="phone" placeholder="")
    br 
    
    br 
    input(type="submit")






  